body {
  font-family: sans-serif;
  margin: 0;
  padding: 20px;
  background: url('img/b.jpg')no-repeat;
  background-size: cover;
  position: absolute;
  right: 250px;
  bottom: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-family: cursive;
  color: rgb(239, 204, 204);
}

p {
  text-align: center;
  margin-bottom: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: white;
}

form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  color: white;
}

form label {
  display: block;
  margin-bottom: 5px;
  width: 48%;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

form input,
form textarea,
form select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 15px;
  margin-bottom: 15px;
  background-color: transparent;
  border-color: black;
  border-width: 2px;
}

form button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

form button:hover {
  background-color: #19c7b9;
  color: black;
}